---
import GlassmorphicContainer from "../glassmorphism/GlassmorphicContainer.svelte";
import Tag from "../postTag.astro";
import experienceData from "../../data/experience.json";

interface Props {
  globalColor: string;
}

const { globalColor } = Astro.props;
---

<GlassmorphicContainer client:only color={globalColor} text="Experience">
  <div>
    {Object.entries(experienceData).map(([category, experiences]) => (
      <>
        <div class="w-full">
          <h1 style={`color: ${globalColor}`} class="timeline-content text-2xl">
            {category}
          </h1>
          {experiences.map((experience) => (
            <a target="_blank" href={experience.url}>
              <div class="timeline-content scale-100 hover:scale-[1.02] hover:-translate-y-1 hover:rotate-[0.25deg] transition-all duration-300 ease-out pt-5">
                <GlassmorphicContainer
                  client:only
                  color={globalColor}
                  text={`${experience.title}`}
                >
                  <div class="text-text nerdfont">
                    <span class="text-text">{experience.date}</span> |
                    <span class="text-text">[{experience.organization}]</span>
                  </div>
                  <div class="flex flex-row flex-wrap gap-2">
                    {experience.tags.map((tag) => (
                      <Tag
                        col={tag.color}
                        tag={tag.name}
                        image={tag.icon}
                      />
                    ))}
                  </div>
                  <p class="text-subtext0">
                    {experience.description}
                  </p>
                  {(experience as any).achievement && (
                    <p class="mt-2 text-subtext0">
                      {(experience as any).achievement}
                    </p>
                  )}
                </GlassmorphicContainer>
              </div>
            </a>
          ))}
        </div>
      </>
    ))}
  </div>
</GlassmorphicContainer>