---
import PocketBase from "pocketbase";
import { ClientRouter } from 'astro:transitions';

import Navbar from "../../components/navbar.astro";
import CopyButton from "../../components/CopyButtons.svelte";
import PostCard from "../../components/postCard.astro";
import "../../styles/global.css";
import "../../styles/blog.css";

export async function getStaticPaths() {
    let paths: any[] = [];
    const pb = new PocketBase("http://db.shlokbhakta.dev");
    const data = await pb.collection("Projects").getFullList({
        sort: "-created",
    });
    for (let i = 0; i < data.length; i++) {
        paths[i] = { params: { id: data[i].id, title: data[i].Title } };
    }
    return paths;
}
const { id, title } = Astro.params;

const pb = new PocketBase("http://db.shlokbhakta.dev");

const data = await pb.collection("Projects").getOne(id);
const image = pb.files.getUrl(data, data.Thumbnail);

let posts = await pb.collection("Posts").getFullList({
    filter: 'tagName ~ "' + data.ProjectTag + '"',
    expand: "tagName",
    sort: "-created",
});

for (let i = 0; i < posts.length; i++) {
    posts[i].imgurl = pb.files.getUrl(posts[i], posts[i].Thumbnail);
    posts[i].imgurllq = pb.files.getUrl(posts[i], posts[i].Thumbnail, {
        thumb: "16x9",
    });
    for (let j = 0; j < posts[i].expand?.tagName.length; j++) {
        posts[i].expand!.tagName[j].imgurl = pb.files.getUrl(
            posts[i].expand?.tagName[j],
            posts[i].expand?.tagName[j].Icon,
        );
    }
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <meta name="author" content="Shlok Bhakta" />
        <meta
            name="keywords"
            content="HTML, CSS, JavaScript, Hire, Blog, Personal Site, "
        />
        <meta
            name="description"
            content="This is Shlok Bhakta. I am a developer who is studying at Texas A&M University who is adept at many things all the way from CI/CD to backend code to web dev. Come check out what I do!"
        />
        <style>
            .card {
                backdrop-filter: blur(5px) saturate(180%);
                -webkit-backdrop-filter: blur(5px) saturate(180%);
                background-color: #3132443f;
                border-radius: 12px;
                border: 1px solid;
            }
        </style>
        <script src="../../lib/addcopy.ts" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{data.Title}</title>
        <ClientRouter />
    </head>
    <body class="mocha bg-crust tilebg">
        <div class="z-10 sticky">
            <Navbar />
        </div>

        <div class="flex justify-center mt-4">
            <div class="card w-4/5 lg:w-2/4 p-1" style=`border-color: ${data.Color}`>
                <img
                    class="aspect-auto w-full rouned-md"
                    src={image}
                    alt={data.Title}
                    transition:name={title}
                />
            </div>
        </div>
        <div class="flex justify-center">
            <div class="title text-center text-text nerdfont">
                {data.Title}
            </div>
        </div>
        <div class="flex justify-center">
            <article
                class="flex w-full bg-mantle center flex-col justify-center nerdfont p-3 mx-8 rounded-md"
            >
                <Fragment set:html={data.Html} />
            </article>
        </div>
        <div hidden={posts.length == 0}>
            <div class="title text-center text-text nerdfont">Posts</div>
            <div class="flex justify-center">
                <div
                    class="flex w-[calc(100vw-40px)] bg-mantle center flex-col justify-center max-w-4xl nerdfont p-3 rounded-md text-text"
                >
                    <ol
                        class="grid grid-flow-row sm:grid-cols-1 md:grid-cols-3 gap-2"
                    >
                        {
                            posts.map((data) => (
                                <li>
                                    <PostCard
                                        title={data.Title}
                                        tags={data.expand?.tagName}
                                        date={data.created}
                                        image={data.imgurl}
                                        link={"/post/" + data.id}
                                        imagelq={data.imgurllq}
                                        col={data.Color}
                                    />
                                </li>
                            ))
                        }
                    </ol>
                </div>
            </div>
        </div>
        <div>
            <img src="/ReadingThanks.svg" class="w-full px-6 pt-12 max:w-4xl" />
        </div>
    </body>
</html>
