---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navbar.astro";
import "../styles/global.css";
import "../styles/homepage.css";
import HeroSection from "../components/homepage/HeroSection.astro";
import SkillsGrid from "../components/homepage/SkillsGrid.astro";
import ExperienceSection from "../components/homepage/ExperienceSection.astro";
import FooterSection from "../components/homepage/FooterSection.astro";
import HomePageScripts from "../components/homepage/HomePageScripts.astro";

// add all catppuccin colors
let colors = ["#f38ba8", "#eba0ac", "#fab387", "#f9e2af", "#89dceb", "#cba6f7"];
let globalColor = colors[Math.floor(Math.random() * colors.length)];
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="Shlok Bhakta" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Hire, Blog, Personal Site"
    />
    <meta
      name="description"
      content="This is Shlok Bhakta. I am a developer who is studying at Texas A&M University who is adept at many things all the way from CI/CD to backend code to web dev. Come check out what I do!"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Home Page</title>
    <HomePageScripts globalColor={globalColor} />
    <ClientRouter />
  </head>
  <body class="mocha bg-crust tilebg nerdfont">
    <body class="mocha bg-crust tilebg">
      <div id="navbar" class="z-50 sticky">
        <Navbar globalColor={globalColor} />
      </div>
      <!-- Spacer -->
      <div class="h-[60px]"></div>

      <!-- Starting Howdy -->
      <div class="mt-10 rounded-lg relative overflow-hidden"></div>
      <!-- Clamps content to 2/5 the screen -->
      <div class="md:w-4/5 max-w-6xl w-full px-4 md:px-0 mx-auto">
        <!-- Hero Section -->
        <HeroSection globalColor={globalColor} />
        
        <!-- Spacer -->
        <div class="mt-5"></div>
        
        <!-- Experience Section (moved up) -->
        <ExperienceSection globalColor={globalColor} />
        
        <!-- Spacer -->
        <div class="mt-5"></div>
        
        <!-- Skills Grid -->
        <SkillsGrid globalColor={globalColor} />

        <!-- Spacer -->
        <div class="mt-5"></div>

        <!-- Footer -->
        <FooterSection globalColor={globalColor} />
      </div>
      <div class="pt-6 text-center pb-2 text-crust">nothing to see here...</div>
    </body>
  </body>
</html>
