---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../components/navbar.astro";
import PocketBase from "pocketbase";
import PostCard from "../components/postCard.astro";
import "../styles/global.css";

const pb = new PocketBase("https://db.shlokbhakta.dev");
let data = await pb.collection("Projects").getFullList({
  sort: "-created",
  expand: "Tags",
});
for (let i = 0; i < data.length; i++) {
  data[i].imgurl = pb.files.getUrl(data[i], data[i].Thumbnail);
  // data[i].imgurllq = pb.files.getUrl(data[i], data[i].Thumbnail, {
  //   thumb: "16x9",
  // });
  for (let j = 0; j < data[i].expand?.Tags.length; j++) {
    data[i].expand!.Tags[j].imgurl = pb.files.getUrl(
      data[i].expand?.Tags[j],
      data[i].expand?.Tags[j].Icon,
    );
  }
  console.log(data);
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="Shlok Bhakta" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Hire, Blog, Personal Site, "
    />
    <meta
      name="description"
      content="This is Shlok Bhakta. I am a developer who is studying at Texas A&M University who is adept at many things all the way from CI/CD to backend code to web dev. Come check out what I do!"
    />
  </head>
  <body class="mocha bg-crust">
    <Navbar />
    <div
      class="block bg-gradient-to-r from-green to-sapphire text-transparent bg-clip-text text-[calc(16px+6vw)] text-center nerdfont"
    >
      Things I Made!
    </div>
    <div class="flex justify-center">
      <section
        class="flex justify-center bg-mantle w-vw max-w-4xl h-auto p-6 m-2 rounded-md"
      >
        <ol class="grid grid-cols-3 gap-2">
          {
            data.map((item) => (
              <li>
                <PostCard
                  title={item.Title}
                  tags={item.expand?.Tags}
                  date={item.created}
                  image={item.imgurl}
                  link={"/project/" + item.id + "-" + item.Title}
                  col={item.Color}
                />
              </li>
            ))
          }
        </ol>
      </section>
    </div>
  </body>
</html>
