---
import "../styles/global.css";
import PostTag from "./postTag.astro";
import LazyImage from "./lazyImage.astro";
const { title, tags, date, image, imagelq, link, col } = Astro.props;
---

<a href={link}>
  <div
    class="w-full h-full min-h-72 border-2 rounded-md p-2"
    style=`border-color: ${col};`
  >
    <!-- <LazyImage hq={image} lq={imagelq} alt={title} /> -->
    <img
      src={image}
      alt={title}
      class="aspect-auto w-full max-w-96 mx-auto"
      transition:name={title}
    />


    <div class="pr-2 text-sm text-text nerdfont">{title}</div>
    <div class="pr-2 text-sm text-blue nerdfont">{date}</div>
    <!-- Tags -->
    <ol class="flex flex-wrap space-x-1">
      {
        tags.map((item: { imgurl: any; tagName: any; color: any }) => (
          <li class="flex">
            <PostTag image={item.imgurl} tag={item.tagName} col={item.color} />
          </li>
        ))
      }
    </ol>
  </div>
</a>
