---
import "../styles/global.css";

const { text, tag } = Astro.props;
const image = tag.imgurl;
const title = tag.tagName;
---

<div
  class={"bg-mantle flex items-center justify-center w-full md:w-fit h-full rounded-3xl border-[2px] shadow-md"}
  style=`border-color: ${tag.color};`
>
  <div
    class="shadow-md
        m-0.5
        rounded-3xl
        flex
        flex-row w-full h-fit``
        divide-x divide-overlay0
        md:divide-none
        md:flex-col md:h-full md:w-40"
  >
    <img class="h-32 aspect-square m-3" src={image} alt={title} />

    <div
      class="flex flex-col
          items-baseline
          justify-start
          pl-5
          md:pl-4
          my-3 md:my-0 py-8 md:py-0"
    >
      <div class="flex flex-col h-fit">
        <h1 class="text-lg font-normal mb-0 text-text font-sans">
          {title}
        </h1>
      </div>
      <p class="text-xs text-subtext1 mb-3">{text}</p>
    </div>
  </div>
</div>
